@import "tailwindcss";

@theme{
  --color-main:#1B1919;
  --color-second:#232121;;

  --font-mogra: var(--font-mogra)
}

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";


body{
  background-color: black;
  
}

@layer base {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    
    margin: 0;
  }

 
}


/* === Custom scrollbar untuk WebKit (Chrome, Edge, Safari) === */
::-webkit-scrollbar {
  width: 12px; /* biarin agak default, bisa diatur */
 
}

::-webkit-scrollbar-track {
  background: #3b3838; /* warna track (belakangnya) */
}

::-webkit-scrollbar-thumb {
  background: #f97416bb; /* warna thumb (yang geser) */
  border-radius: 8px;   /* biar agak bulat */
}

::-webkit-scrollbar-thumb:hover {
  background: #ea5a0c9e; /* warna thumb pas hover */
}

/* === Custom scrollbar untuk Firefox === */
* {
  scrollbar-width: auto; /* biar default lebarnya */
  scrollbar-color: #f97316 #111; /* thumb track */
}

.swiper-pagination-bullet{
background: #3b3838;
background: #3b3838;
opacity: 0.5;
}

.swiper-pagination-bullet-active{
  background: #f97316;
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next{
  display: none;
}



*{
  box-sizing: border-box;
}




@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); 
  }
}

@keyframes intro {
  0%{
    transform: scale(480%);
    position: absolute;
    top: 24rem;
    z-index: 90;
    filter: brightness(50%);
    filter: blur(2px);
    
    
    
    
  }
  50%{
    transform: scale(480%);
    position: absolute;
    top: 24rem;
    z-index: 90;
    filter: brightness(100%);
    filter: blur(0px);
    
   
  }
  

  100%{
    margin-top: 0;
    position: absolute;
    transform: scale(100%);
    top: 6rem;
    
    
    z-index: 10;
  }



}

@keyframes intro2{
  0%{
    opacity: 1;
    filter: brightness(100%);
    filter: blur(0px)
  }
  50%{
    opacity: 1;
    filter: brightness(100%);
    filter: blur(0px);

  }
  100%{
    opacity: 0;
    filter: brightness(50%);
    filter: blur(2px);
  
  }

}

@keyframes fadein{
  0%{
    transform: translateY(150px);
    opacity: 0;
    filter: blur(2px);
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
  
  }
}

@media (max-width:600px) {

  @keyframes intro {
  0%{
    transform: scale(6,10);
    position: absolute;
    top: 24rem;
    z-index: 90;
    filter: brightness(50%);
    filter: blur(2px);
    
    
    
    
  }
  50%{
    transform: scale(6,10);
    
    
    position: absolute;
    top: 24rem;
    z-index: 90;
    filter: brightness(100%);
    filter: blur(0px);
    
   
  }
  

  100%{
    margin-top: 0;
    position: absolute;
    transform: scale(1);
    
    top: 6rem;
    
    
    z-index: 19;
  }
}

}




@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    #2a1a00 25%,
    #f07800 37%,
    #2a1a00 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.2s linear infinite;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-4px); }
  40% { transform: translateX(4px); }
  60% { transform: translateX(-4px); }
  80% { transform: translateX(4px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.4s;
}

@keyframes sedetail{
0%{
  height: 250px;
  opacity: 1;
  
}
25%{
  
  opacity:0;
}
100%{
  height: 0;
  opacity: 0;
}
}
@keyframes offdetail{
0%{
  height: 0;
  opacity: 0;
  
}
50%{
  
  opacity:0;
}
100%{
  height: 250px;
  opacity: 1;
}
}